@using BookStore.Core.Entities;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var applicationUser = user as ApplicationUser;
    <form id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
        <button class="w-100 btn btn-secondary btn-lg user-button" data-toggle="collapse">
            <div style="display: flex;">
                <img src="~/image/icon_user.png" class="user-avatar">
                <div class="user-info">
                    <div>@($"{(applicationUser?.FirstName ?? "")} {(applicationUser?.LastName ?? "")}")</div>
                    @if ((applicationUser?.FirstName == null) || (applicationUser?.LastName == null))
                    {
                        <div>@($"{applicationUser?.Name}")</div>
                    }
                    <div>@($"{user.Email}")</div>
                    
                </div>
            </div>
        </button>
    </form>
}
else
{
    var user = await UserManager.GetUserAsync(User);
    <form id="manage" asp-area="Identity" asp-page="/Account/Login" title="Manage">
        <button class="w-100 btn btn-secondary btn-lg user-button" data-toggle="collapse">
            <div style="display: flex;">
                <img src="~/image/icon_user.png" class="user-avatar">
                <div class="user-info">
                    <div>
                        <a asp-area="Identity" asp-page="/Account/Login">Log in</a> | <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </div>
                    <div><h5>You aren't authorized!</h5></div>
                </div>
            </div>
        </button>
    </form>
}
