@using Microsoft.AspNetCore.Identity
@using BookStore.Infrastructure.Data

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="navbar bg-transparent">
    <div class="container-fluid" style="height:auto">
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="fas fa-bars text-white"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header" style="color:#6C757D; background-color: #192E2F">
                <div class="logo" style="font-size:x-large;">
                    <a style="color: #fff; text-decoration: none;" asp-area="Customer" asp-controller="Home" asp-action="Index">Bookstore</a>
                </div>
                <button type="button" class="btn-close fas fa-close text-white" style="font-size: 24px; background-image: none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">

                <partial name="_BurgerLoginPartial.cshtml" />

                <ul class="navbar-nav justify-content-end flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Cart" asp-action="Index">Cart</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class ="nav-item">
                            <a class="nav-link active" aria-current="page" asp-area="Admin" asp-controller="Order" asp-action="Index">Order Manage</a>
                        </li>
                    }

                </ul>
                @if (SignInManager.IsSignedIn(User))
                {
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Customer" })">
                        <button id="logout-button" type="submit" class="w-100 btn btn-lg btn-primary">Log out</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>