@model List<BookStore.Application.DTO_s.BookDTO>
@{
    ViewData["Title"] = "Books Page";
}

<div class="arrivals">
    <h1>Books</h1>
    <div class="arrivals_box">
        @foreach (var book in Model)
        {
            <div class="arrivals_card">
                <div class="arrivals_image">
                    <img src="~/image/img book.png">
                </div>
                <div class="arrivals_tag">
                    <p>@book.Title</p>
                    <div>
                        <a asp-controller="Book" asp-action="BookInfo" asp-route-id="@book.Id" class="arrivals_btn">Learn More</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
