@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Delete account";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row" style="height: 100vh;">
    <div class="col-md-6">
        <p>
            <strong>Deleting will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
